<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{data_path}}/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script src="{{data_path}}/layui/layui.js" charset="utf-8"></script>

    <!-- markdown编辑器依赖jquery -->
    <script src="{{data_path}}/js/jquery-3.3.1.min.js" type="text/javascript"></script>

    <!-- ueditor编辑器 -->
    <!-- 配置文件 -->
    <script type="text/javascript" src="{{data_path}}/neditor/neditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="{{data_path}}/neditor/neditor.all.js"></script>
    <!-- 中文语言包   -->
    <script type="text/javascript" charset="utf-8" src="{{data_path}}/neditor/i18n/zh-cn/zh-cn.js"></script>

    <link rel="stylesheet" href="editor/css/editormd.min.css">

    <script src="editor/editormd.min.js" type="text/javascript"></script>
</head>
<body>
{# 拿到模块信息，根据字段信息，拼出字段 #}
{% set info = ace.tag('a_getModuleInfo','view',{'request':request}) %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>{{info.name}}  <small>新建文档</small> </legend>
</fieldset>

<form id="form_control" class="layui-form" action="" style="margin-top: 20px">
    {# 遍历字段，渲染页面 #}
    {% for n in info.config %}
    {% set type = ace.explode( '->',n.view ) %}
    {% if type[0]== 'input' %}
    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}</label>
        <div class="layui-input-block">
            <input id="{{n.dir}}" type="text" name="{{n.dir}}"  autocomplete="off" placeholder="{{n.comment}}" class="layui-input">
        </div>
    </div>
    {% endif %}

    {% if type[0]== 'password' %}
    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}</label>
        <div class="layui-input-block">
            <input id="{{n.dir}}" type="password" name="{{n.dir}}"  autocomplete="off" placeholder="{{n.comment}}" class="layui-input">
        </div>
    </div>
    {% endif %}

    {% if type[0]== 'radio' %}
    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}:</label>
        <div class="layui-input-block">
            {% set t = ace.explode('|',type[1]) %}
            {% for ops in t %}
            <input type="radio" name="{{n.dir}}" value="{{ops}}" title="{{ops}}" {% if ops==n.default %} checked {% endif %} >
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if type[0]== 'select' %}
    {% set t = ace.explode('|',type[1]) %}

    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}</label>
        <div class="layui-input-block">
            <select id="type" name="{{n.dir}}"  lay-filter="filterType">
                <option value="">请选择</option>
                {% for ops in t %}
                <option value="{{ops}}">{{ops}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}

    {% if type[0]== 'checkbox' %}
    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}</label>
        <div class="layui-input-block">
            {% set t=ace.explode('|',type[1]) %}
            {% set default = ace.explode('|',n.default) %}
            {% for ops in t %}
            <input type="checkbox" name="{{n.name}}" value="{{ops}}" title="{{ops}}" {% if ace.in_array(ops,default) %} checked {% endif %} >
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if type[0]== 'timer' %}
    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="{{n.dir}}" id="{{n.dir}}">
        </div>
    </div>
    <script>
        layui.use('laydate',function () {
            var laydate = layui.laydate;
            laydate.render({
                elem:'#{{n.dir}}',
                type:'datetime'
            })
        })
    </script>
    {% endif %}


    {% if type[0]== 'markdown' %}
    <div class="layui-form-item">
        <label class="layui-form-label">{{n.name}}</label>
        <div class="layui-input-block">
            <div id="{{n.dir}}"></div>
        </div>
    </div>
    <script>
        var editor_{{n.dir}} = editormd("{{n.dir}}", {
            height: 300,
            saveHTMLToTextarea : true,
            path : "{{data_path}}/editor/lib/"
        });
    </script>

    {% endif %}

    {% if type[0]== 'custom' %}

    {% set custom=ace.parseJson(type[1]) %}

    {% if custom.name=='custom_cols' %}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <blockquote class="layui-elem-quote layui-quote-nm">
                <div class="layui-row">
                    {{custom.description}}
                    <a id="add-cols" href="javascript:;" class="layui-btn" style="float: right;">
                        <i class="layui-icon">&#xe608;</i> {{custom.btn}}</a>
                </div>
            </blockquote>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <table id="table" class="layui-table" lay-filter="tabletable">
                <thead>
                <tr>
                    <th lay-data="{field:'name'}">名称</th>
                    <th lay-data="{field:'config'}">配置</th>
                    <th lay-data="{field:'operation'}">操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


    <script>
        function renderModuleTable(data) {
            // layer.msg(data);
            layui.use(['jquery', 'layer', 'form'], function () {
                var $ = layui.jquery;
                var layer = layui.layer;
                var form = layui.form;
                var $tr = $(".layui-table-body.layui-table-main tbody tr:last");
                var newHtml =
                    `
                         <tr data-index="${$tr.data("index")+1}" class="">
                            <td data-field="name">
                                <div class="layui-table-cell laytable-cell-1-name">${data.name}</div>
                            </td>

                            <td data-field="config">
                                <div class="layui-table-cell laytable-cell-1-config">${data.info}</div>
                            </td>
                            <td data-field="operation" data-off="true">
                                <div class="layui-table-cell laytable-cell-1-operation">
                                    <a class="layui-btn layui-btn-xs" lay-event="edit">
                                        <i class="layui-icon">&#xe642;</i> 编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                                        <i class="layui-icon">&#xe640;</i> 删除</a>
                                </div>
                            </td>
                        </tr>
       `;
                $(".layui-table-body.layui-table-main tbody").append(newHtml);
                form.render();
            })

        }
    </script>
    <script>

        layui.use(['layer','table','form'],function () {
            var layer = layui.layer;
            var table = layui.table;
            var form = layui.form;

            table.init('tabletable', {
                id: 'idTable'
            });

            // 监听“添加字段”按钮
            $('#add-cols').on('click', function () {
                layer.open({
                    type: 2,
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/m.a_ArticleContent.custom_cols_add'       // 文章内容模型中，自定义组件custom_cols需要用到的添加字段的页面
                });
            })
        });
    </script>

    {% endif %}

    {% endif %}


    {% endfor %}

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="formSubmit">确认添加</button>
            <button type="button" class="layui-btn layui-btn-danger" onclick="cancelIframe()">取消</button>
        </div>
    </div>


</form>




<!-- ueditor编辑器 -->


<script>

    layui.use(['form'],function () {
        var form = layui.form;


        //监听提交
        form.on('submit(formSubmit)', function (data) {
            var d = data.field; // 获取数据
            // 获取表格数据
            console.log(d);
            // layer.alert(JSON.stringify(d), {
            //     title: '最终的提交信息'
            // });
            layer.confirm("确认添加？", {
                icon: 6
            }, function (index) {
                $.post("{{ace.makeUrl('a_addArticleContent','handle',{'module_id':info.id})}}", {
                    "data": d
                }, function (d) {
                    console.log(d);
                    d = JSON.parse(d);
                    if (d.status == 200) {
                        layer.msg("添加成功！！", {
                            icon: 6
                        }, function () {
                            parent.window.location.reload();  // 刷新父页面
                           cancelIframe();  // 关掉这个页面
                        })
                    }else{
                        // 添加失败，弹出添加失败原因
                        var data = d.data;
                        for(var i=0;i<data.length;i++){
                            layer.msg(data[i],{icon:5});
                        }
                    }
                })
            })
            return false;
        });
    });

    function cancelIframe() {
        var name = parent.layer.getFrameIndex(window.name);
        parent.layer.close(name);
    }
</script>

</body>

</html>